.page-title{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
}
.page-title h1{
  font-size: 60px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}
.page-title img{
  width: 75px;
  height: 75px;
  display: inline-block;
  margin: auto 0;
}
#qtytxt {
	width: 30px;
	padding-left: 40px;
}

.boatname {
	font-weight: bold;
}

.updatedelete {
	font-size: 10px;
}

.deleteall {
	font-size: 15px;
	text-align: centre;
}

.alignright {
	text-align: right;
}

#cartcontents {
	width: 100%;
}

.legend {
	margin: 20px;
	width: 100%;
	padding-right: 50px;
	font-size: 24px;
}

.boatprice {
	color: red;
}

#test {
	text-align:centre;
}

.subtotal {
	text-align: right;
}

td {
	width: 100%;
}

#checkout {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
	height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}