.header-image {
    background: url("../images/contact/contact_header_nataly.jpg") no-repeat scroll 0px / cover rgba(104, 100, 147, 0.8);
}
.main-page-text {
    text-align: left;
}
.contact_header {
    font-weight: bold;
}
.alert_box {
    margin-top: 1em;
    margin-bottom: -10px;
}