.form_element_lrg {
    width: 100%;
}
.radio_label {
    text-align: right;
}

legend {
    margin-top: 1em;
}

.big_message_box {
    min-height: 10em;
}
.button {
    width: 100%;
}
.submit {
    background-color: Green;
}
.form_bottom {
    margin-bottom: 3em;
}