.header-image {
    background: url("../images/index/index_header_tatoosh.jpg") no-repeat scroll 0px / cover rgba(104, 100, 147, 0.8);
}
.main-page-text {
    text-align: left;
}
.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}
#myCarousel {
    padding-top: 5em;
    padding-bottom: 5em;
}